/* animations.css */
@keyframes updown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-4px); /* Moves the line upwards */
    }
    100% {
      transform: translateY(0); /* Resets back to original position */
    }
  }
  
  .animate-updown {
    animation: updown 2s ease-in-out infinite; /* Infinite loop with a 2-second duration */
  }
  